Repository powerfulyang/api.powerfulyang.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

build: publish new release
  prisma/schema.prisma
Due: none

build: query request logs
  src/common/logger/loggerInstance.ts
  src/common/swagger/ApiOkPaginateQueryResponse.ts
  src/fastify/hook.ts
  src/metadata.ts
  src/post/post.service.ts
  src/request-log/dto/query-request-log.dto.ts
  src/request-log/request-log.controller.ts
  src/request-log/request-log.module.ts
  src/request-log/request-log.service.ts
  src/service/base/BaseService.ts
  src/user/user.service.ts
Due: prettier --write, eslint --fix

build: bump up
  Dockerfile
  addon/TinyEXIF/TinyEXIF.cpp
  addon/TinyEXIF/TinyEXIF.h
  addon/api.cpp
  addon/tinyxml2/tinyxml2.cpp
  addon/tinyxml2/tinyxml2.h
  binding.gyp
  http-client/http-client.env.json
  http-client/test.jpeg
  http-client/tools.http
  package.json
  pnpm-lock.yaml
  src/addon/addon.spec.ts
  src/addon/index.ts
  src/addon/types/Exif.ts
  src/asset/asset.service.ts
  src/asset/entities/asset.entity.ts
  src/common/middleware/log.middleware.ts
  src/common/middleware/request.middleware.ts
  src/fastify/hook.ts
  src/lib/exif.ts
  src/request-log/request-log.service.ts
  src/tools/tools.controller.ts
  src/tools/tools.service.ts
Due: prettier --write, eslint --fix

build: bump up
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: show public asset
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/asset/asset.service.ts
  src/fastify/hook.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,json,js,mjs,mts,cjs,cts}
  eslint --fix: any of: **/*.{ts,tsx,js,mjs,mts,cjs,cts}
  stylelint --fix: any of: **/*.{scss}
