Repository powerfulyang/api.powerfulyang.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore(deps): update dependency @types/node-fetch to v2.6.2
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency passport to v0.6.0
  package-lock.json
  package.json
  src/main.ts
Due: prettier --write, eslint --fix

fix: npm audit fix
  package-lock.json
Due: prettier --write

refactor: 文件路径修改
  .commitlintrc.cjs
  .eslintrc.cjs
  .lintstagedrc
  .lintstagedrc.cjs
  .prettierrc.cjs
  .prettierrc.js
  .stylelintrc.cjs
  .stylelintrc.js
  libs/logs-viewer/src/logs-viewer.module.ts
  libs/logs-viewer/src/logs-viewer.service.ts
  src/app.module.ts
  src/common/cache/cache.service.ts
  src/common/service/ES/es.module.ts
  src/common/service/ES/es.service.spec.ts
  src/common/service/ES/es.service.ts
  src/common/service/ES/types/LogstashSource.ts
  src/common/service/MAIL/mail.module.ts
  src/common/service/MAIL/mail.service.spec.ts
  src/common/service/MAIL/mail.service.ts
  src/common/service/MQ/mq.module.ts
  src/common/service/MQ/mq.service.spec.ts
  src/common/service/MQ/mq.service.ts
  src/common/service/ORM/orm.module.ts
  src/modules/asset/asset.module.ts
  src/modules/asset/asset.service.spec.ts
  src/modules/asset/asset.service.ts
  src/modules/feed/feed.module.ts
  src/modules/oauth-application/oauth-application.module.ts
  src/modules/oauth-openid/oauth-openid.module.ts
  src/modules/path-view-count/path-view-count.module.ts
  src/modules/post/post.module.ts
  src/modules/post/post.service.ts
  src/modules/public/public.controller.ts
  src/modules/public/public.module.ts
  src/modules/tencent-cloud-account/tencent-cloud-account.module.ts
  src/modules/user/user.module.ts
  src/modules/user/user.service.ts
Due: prettier --write, eslint --fix

fix(jest, cosUtil): typeorm => autoLoadEntities 在 jest@28 的背景下，不好用
  libs/tencent-cloud-cos/src/tencent-cloud-cos.service.spec.ts
  libs/tencent-cloud-cos/src/tencent-cloud-cos.service.ts
  src/configuration/pg.config.ts
  src/core/bootstrap/bootstrap.service.ts
  src/modules/asset/asset.service.ts
  src/modules/bucket/bucket.service.ts
  src/modules/tencent-cloud-account/tencent-cloud-account.service.spec.ts
  src/utils/env.ts
Due: prettier --write, eslint --fix

fix(deps): update dependency cos-nodejs-sdk-v5 to v2.11.8
  package-lock.json
  package.json
Due: prettier --write

fix: public/asset has ignored the parameter take
  .github/workflows/prod.yml
  .github/workflows/qa.yml
  Dockerfile
  src/modules/asset/asset.service.ts
  src/modules/feed/feed.service.ts
Due: prettier --write, eslint --fix

refactor: 服务器上的目录改掉啦
  .github/workflows/qa.yml
  src/modules/asset/entities/asset.entity.ts
Due: prettier --write, eslint --fix

fix(deps): update dependency @nestjs/jwt to v8.0.1
  .gitattributes
  libs/logs-viewer/src/index.ts
  libs/logs-viewer/src/logs-viewer.controller.ts
  libs/logs-viewer/src/logs-viewer.module.ts
  libs/logs-viewer/src/logs-viewer.service.spec.ts
  libs/logs-viewer/src/logs-viewer.service.ts
  libs/logs-viewer/tsconfig.lib.json
  nest-cli.json
  package-lock.json
  package.json
  qa.ssh.forward.sh
  src/app.module.ts
  src/common/ES/es.module.ts
  src/common/ES/es.service.spec.ts
  src/common/ES/es.service.ts
  src/common/ES/types/LogstashSource.ts
  src/common/authorization/admin-guard.ts
  src/core/core.service.ts
  src/main.ts
  src/modules/asset/asset.service.ts
  src/modules/post/post.module.ts
  src/modules/post/post.service.spec.ts
  src/modules/post/post.service.ts
  src/modules/user/user.controller.ts
  src/public/public.controller.ts
  tsconfig.json
Due: prettier --write, eslint --fix

fix(deps): update dependency redis to v4.1.0
  jest.config.js
  package-lock.json
  package.json
  src/common/cache/cache.service.ts
Due: prettier --write, eslint --fix

feat: 精简字段
  src/modules/asset/asset.service.ts
Due: prettier --write, eslint --fix

fix(deps): update dependency socks-proxy-agent to v6.2.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency amqp-connection-manager to v4.1.2
  package-lock.json
  package.json
Due: prettier --write

fix: MessagePatterns type should be string;
  src/common/MQ/mq.service.spec.ts
  src/common/MQ/mq.service.ts
  src/configuration/rabbitmq.config.ts
  src/constants/MessagePatterns.ts
  src/main.ts
  src/microservice/handleAsset/upload-asset.controller.ts
  src/microservice/handleAsset/upload-asset.module.ts
  src/modules/asset/asset.service.ts
  src/schedules/cos-object-url-schedule/cos-object-url-schedule.service.ts
  src/schedules/instagram-schedule/instagram-schedule.service.ts
  src/schedules/pinterest-schedule/pinterest-schedule.service.ts
  src/schedules/pixiv-schedule/pixiv-schedule.service.ts
  src/schedules/udp-schedule/udp-schedule.service.ts
Due: prettier --write, eslint --fix

fix: 愚蠢的先后顺序
  package-lock.json
  package.json
  src/schedules/cos-object-url-schedule/cos-object-url-schedule.service.ts
Due: prettier --write, eslint --fix

feat: 精简字段，还有支持页数
  src/modules/asset/asset.service.ts
  src/modules/asset/entities/asset.entity.ts
  src/modules/feed/entities/feed.entity.ts
  src/modules/feed/feed.service.ts
  src/modules/post/entities/post.entity.ts
  src/public/public.controller.ts
  src/type/InfiniteQueryParams.ts
  src/utils/env.ts
Due: prettier --write, eslint --fix

fix(deps): update dependency dayjs to v1.11.2
  package-lock.json
  package.json
Due: prettier --write

feat: peerjs
  package-lock.json
  package.json
  src/app.module.ts
  src/common/config/config.service.ts
  src/common/logger/logger.service.ts
  src/configuration/pg.config.ts
  src/core/core.service.ts
  src/main.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: 防止 renovate 导致 deploy
  .github/workflows/prod.yml
Due: none

fix(deps): update nest monorepo to v8.4.5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @nestjs/cli to v8.2.6
  package-lock.json
  package.json
Due: prettier --write

fix: cached user's timeline background is invalid
  src/common/logger/logger.service.ts
  src/schedules/cos-object-url-schedule/cos-object-url-schedule.service.ts
  src/schedules/schedules.module.ts
Due: prettier --write, eslint --fix

feat: manual process bot
  libs/proxy-fetch/src/proxy-fetch.service.ts
  src/modules/schedule/schedule.controller.ts
  src/schedules/cos-object-url-schedule/cos-object-url-schedule.service.ts
  src/schedules/instagram-schedule/instagram-schedule.service.ts
  src/schedules/pinterest-schedule/pinterest-schedule.service.ts
  src/schedules/pixiv-schedule/pixiv-schedule.service.ts
Due: prettier --write, eslint --fix

fix(deps): update dependency sharp to v0.30.4
  package-lock.json
  package.json
Due: prettier --write

feat: 修改了端口
  qa.ssh.forward.sh
Due: none

feat: ssh Local Port Forwarding 比 VPN 好用多了啦
  nest-cli.json
  qa.ssh.forward.sh
  src/app.module.ts
  src/common/ES/es.service.spec.ts
  src/common/ES/es.service.ts
  src/common/interceptor/response.interceptor.ts
  src/configuration/pg.config.ts
  src/core/bootstrap/bootstrap.module.ts
  src/core/bootstrap/bootstrap.service.ts
  src/modules/asset/asset.service.spec.ts
  src/modules/asset/asset.service.ts
  src/modules/asset/entities/asset.entity.ts
  src/modules/feed/entities/feed.entity.ts
  src/modules/feed/feed.service.spec.ts
  src/modules/feed/feed.service.ts
  src/modules/oauth-openid/entities/oauth-openid.entity.ts
  src/modules/oauth-openid/oauth-openid.service.spec.ts
  src/modules/oauth-openid/oauth-openid.service.ts
  src/modules/path-view-count/entities/path-view-count.entity.ts
  src/modules/path-view-count/path-view-count.module.ts
  src/modules/path-view-count/path-view-count.service.ts
  src/modules/path-view-count/path-view-count.spec.ts
  src/modules/post/entities/post.entity.ts
  src/modules/post/post.controller.ts
  src/modules/post/post.service.spec.ts
  src/modules/user/entities/family.entity.ts
  src/modules/user/entities/user.entity.ts
  src/modules/user/user.service.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore(deps): update dependency @powerfulyang/lint to v2.0.1
  src/common/ES/types/LogstashSource.ts
Due: prettier --write, eslint --fix

feat: upgrade nest monorepo to v9, use fastify instead of express, use ioredis instead of redis
  package-lock.json
  package.json
  src/app.module.ts
  src/common/ES/types/LogstashSource.ts
  src/common/authorization/github.strategy.ts
  src/common/authorization/google.strategy.ts
  src/common/authorization/jwt.strategy.ts
  src/common/authorization/public.strategy.ts
  src/common/authorization/util.ts
  src/common/cache/cache.module.ts
  src/common/cache/cache.service.spec.ts
  src/common/cache/cache.service.ts
  src/common/decorator/user-from-auth.decorator.ts
  src/common/filter/catch.filter.ts
  src/common/filter/http.exception.filter.ts
  src/common/interceptor/cookie.interceptor.ts
  src/common/interceptor/redirect.interceptor.ts
  src/common/interceptor/response.interceptor.ts
  src/common/middleware/request.middleware.ts
  src/configuration/redis.config.ts
  src/constants/PROVIDER_TOKEN.ts
  src/constants/constants.ts
  src/main.ts
  src/modules/asset/asset.service.spec.ts
  src/modules/path-view-count/path-view-count.service.ts
  src/modules/post/dto/publish-post.dto.ts
  src/modules/post/post.service.spec.ts
  src/modules/post/post.service.ts
  src/modules/user/dto/create-post.dto.ts
  src/modules/user/user.controller.ts
  src/modules/user/user.service.ts
  src/type/RedisValue.ts
  src/type/RequestExtend.ts
Due: prettier --write, eslint --fix

fix: 文件上传问题吧
  package-lock.json
  package.json
  src/common/authorization/admin-guard.ts
  src/common/interceptor/images.file.upload.interceptor.ts
  src/main.ts
  src/modules/asset/asset.controller.ts
  src/modules/feed/feed.controller.ts
  src/modules/public/public.controller.ts
Due: prettier --write, eslint --fix

fix: 文件上传问题吧
  package-lock.json
  package.json
  src/app.module.ts
  src/common/authorization/admin-guard.ts
  src/common/authorization/jwt.strategy.ts
  src/common/decorator/user-from-auth.decorator.ts
  src/common/interceptor/images.file.upload.interceptor.ts
  src/common/interceptor/response.interceptor.ts
  src/core/bootstrap/bootstrap.service.ts
  src/core/core.service.ts
  src/main.ts
  src/modules/asset/asset.controller.ts
  src/modules/asset/asset.service.ts
  src/modules/feed/feed.controller.ts
  src/modules/post/post.service.ts
  src/type/ExtendRequest.ts
  src/type/UploadFile.ts
Due: prettier --write, eslint --fix

fix: fastify default listen at 127.0.0.1
  package-lock.json
  package.json
  qa.ssh.forward.sh
  src/app.module.ts
  src/common/interceptor/response.interceptor.ts
  src/common/logger/logger.service.ts
  src/common/service/MQ/mq.service.spec.ts
  src/common/service/MQ/mq.service.ts
  src/main.ts
  src/modules/post/post.service.ts
  ssh.forward.sh
  test/app.e2e.spec.ts
Due: prettier --write, eslint --fix

fix: fastify 独立使用 PeerServer
  src/common/decorator/index.ts
  src/main.ts
  src/modules/asset/asset.controller.ts
  src/modules/bucket/bucket.controller.ts
  src/modules/feed/feed.controller.ts
  src/modules/post/post.controller.ts
  src/modules/post/post.service.ts
  src/modules/schedule/schedule.controller.ts
  src/modules/tencent-cloud-account/tencent-cloud-account.controller.ts
  src/modules/user/dto/delete-post.dto.ts
  src/modules/user/menu/menu.controller.ts
Due: prettier --write, eslint --fix

fix: title 修改
  package-lock.json
  package.json
  src/modules/post/dto/delete-post.dto.ts
  src/modules/post/dto/publish-post.dto.ts
  src/modules/post/entities/post.entity.ts
  src/modules/post/post.controller.ts
  src/modules/post/post.service.ts
  src/modules/user/dto/create-post.dto.ts
  src/modules/user/user.controller.ts
Due: prettier --write, eslint --fix

fix: title 修改
  package-lock.json
  package.json
  src/modules/post/dto/delete-post.dto.ts
  src/modules/post/dto/publish-post.dto.ts
  src/modules/post/entities/post.entity.ts
  src/modules/post/post.controller.ts
  src/modules/post/post.service.ts
  src/modules/public/public.controller.ts
  src/modules/user/dto/create-post.dto.ts
  src/modules/user/user.controller.ts
Due: prettier --write, eslint --fix

fix: forgot response urlTitle
  src/modules/post/post.service.ts
Due: prettier --write, eslint --fix

chore: code clean up and use pnpm instead of npm
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

feat: pnpm
  .npmrc
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,json,js,mjs,mts,cjs,cts}
  eslint --fix: any of: **/*.{ts,tsx,js,mjs,mts,cjs,cts}
  stylelint --fix: any of: **/*.{scss}
