Repository powerfulyang/api.powerfulyang.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,json,js,mjs,mts,cjs,cts}": [
    "prettier --write"
  ],
  "**/*.{ts,tsx,js,mjs,mts,cjs,cts}": [
    "eslint --fix"
  ],
  "**/*.{scss}": [
    "stylelint --fix"
  ]
}

chore(deps): update dependency @nestjs/schematics to v8.0.10
  package-lock.json
  package.json
Due: prettier --write

fix: PublicStrategy => request.user is undefined.
  .env.example
  .jest/loadTestEnv.ts
  package.json
  src/common/decorator/user-from-auth.decorator.ts
  src/constants/constants.ts
  src/loadEnv.ts
  src/public/public.controller.ts
  src/typings/process.env.d.ts
  src/utils/env.ts
Due: prettier --write, eslint --fix

fix: close #50
  src/common/interceptor/cookie.clear.interceptor.ts
  src/common/interceptor/cookie.interceptor.ts
  src/common/interceptor/redirect.interceptor.ts
  src/common/interceptor/response.interceptor.ts
  src/common/middleware/request.middleware.ts
  src/constants/constants.ts
  src/core/bootstrap/bootstrap.service.ts
  src/modules/user/user.controller.ts
Due: prettier --write, eslint --fix

fix: Safari 问题: https://github.com/powerfulyang/api.powerfulyang.com/issues/46#issuecomment-1094252868
  src/common/interceptor/redirect.interceptor.ts
  src/common/interceptor/response.interceptor.ts
  src/modules/user/user.controller.ts
Due: prettier --write, eslint --fix

fix(deps): update dependency typeorm to v0.3.6
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/ramda to v0.28.9
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency amqp-connection-manager to v4.1.2
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency cookie to v0.5.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/sharp to v0.30.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/ramda to v0.28.11
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency dayjs to v1.11.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/xml2js to v0.4.10
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/xml2js to v0.4.11
  package-lock.json
  package.json
Due: prettier --write

fix: MessagePatterns type should be string;
  src/common/MQ/mq.service.spec.ts
  src/common/MQ/mq.service.ts
  src/configuration/rabbitmq.config.ts
  src/constants/MessagePatterns.ts
  src/main.ts
  src/microservice/handleAsset/upload-asset.controller.ts
  src/microservice/handleAsset/upload-asset.module.ts
  src/modules/asset/asset.service.ts
  src/schedules/cos-object-url-schedule/cos-object-url-schedule.service.ts
  src/schedules/instagram-schedule/instagram-schedule.service.ts
  src/schedules/pinterest-schedule/pinterest-schedule.service.ts
  src/schedules/pixiv-schedule/pixiv-schedule.service.ts
  src/schedules/udp-schedule/udp-schedule.service.ts
Due: prettier --write, eslint --fix

fix(deps): update dependency socks-proxy-agent to v6.2.0
  package-lock.json
  package.json
Due: prettier --write

feat: manual process bot
  libs/proxy-fetch/src/proxy-fetch.service.ts
  src/modules/schedule/schedule.controller.ts
  src/schedules/cos-object-url-schedule/cos-object-url-schedule.service.ts
  src/schedules/instagram-schedule/instagram-schedule.service.ts
  src/schedules/pinterest-schedule/pinterest-schedule.service.ts
  src/schedules/pixiv-schedule/pixiv-schedule.service.ts
Due: prettier --write, eslint --fix

fix(deps): update dependency sharp to v0.30.4
  package-lock.json
  package.json
Due: prettier --write

feat: 防止 renovate 导致 deploy
  .github/workflows/prod.yml
Due: none

feat: peerjs
  package-lock.json
  package.json
  src/app.module.ts
  src/common/config/config.service.ts
  src/common/logger/logger.service.ts
  src/configuration/pg.config.ts
  src/core/core.service.ts
  src/main.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore(deps): update dependency @types/cookie to v0.5.1
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency express to v4.18.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency supertest to v6.2.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/cookie-parser to v1.4.3
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency qqwry.ipdb to v2022.4.27
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency nodemailer to v6.7.4
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency node-telegram-bot-api to v0.57.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update powerfulyang
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency express to v4.18.1
  package-lock.json
  package.json
Due: prettier --write
