Repository powerfulyang/api.powerfulyang.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

fix(deps): update dependency typeorm to v0.3.5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @nestjs/schematics to v8.0.10
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update nest monorepo
  package-lock.json
  package.json
Due: prettier --write

fix(deps): pin dependency @nestjs/typeorm to 9.0.0-next.2
  package-lock.json
  package.json
Due: prettier --write

fix: PublicStrategy => request.user is undefined.
  .env.example
  .jest/loadTestEnv.ts
  package.json
  src/common/decorator/user-from-auth.decorator.ts
  src/constants/constants.ts
  src/loadEnv.ts
  src/public/public.controller.ts
  src/typings/process.env.d.ts
  src/utils/env.ts
Due: prettier --write, eslint --fix

chore(deps): update dependency @types/ramda to v0.28.8
  package-lock.json
  package.json
Due: prettier --write

tmp: temporarily save
  src/common/authorization/google.strategy.ts
  src/common/decorator/path-view-count.decorator.ts
  src/common/interceptor/path.view.count.interceptor.ts
  src/entity/family.entity.ts
  src/modules/asset/asset.controller.ts
  src/modules/feed/entities/feed.entity.ts
  src/modules/feed/feed.controller.ts
  src/modules/todo/todo.controller.ts
  src/modules/todo/todo.service.ts
  src/modules/user/user.controller.ts
  src/public/public.controller.ts
  src/public/public.module.ts
Due: prettier --write, eslint --fix

feat: 最新的一把梭
  .github/workflows/app.yml
  Dockerfile
Due: none

deps: upgrade 感觉要哭
  package.json
Due: prettier --write

feat: upload asset controller
  libs/tencent-cloud-cos/src/cos-nodejs-sdk-v5.d.ts
  libs/tencent-cloud-cos/src/tencent-cloud-cos.service.ts
  package.json
  src/common/interceptor/images.file.upload.interceptor.ts
  src/configuration/rabbitmq.config.ts
  src/core/core.module.ts
  src/core/core.service.ts
  src/entity/asset.entity.ts
  src/entity/bucket.entity.ts
  src/enum/AssetBucket.ts
  src/microservice/upload-asset.controller.ts
  src/microservice/upload-asset.service.ts
  src/modules/asset/asset.controller.ts
  src/modules/asset/asset.service.ts
  src/modules/bucket/bucket.service.ts
  src/schedules/cos-object-url-schedule/cos-object-url-schedule.service.ts
  src/type/UploadFile.ts
  src/typings/cache-manager-redis-store.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix

fix: authorization for asset controller
  src/modules/asset/asset.controller.ts
Due: prettier --write, eslint --fix

feat: 还是 lts 香
  .github/workflows/app.yml
  Dockerfile
Due: none

哭着写完 socks5 agent. 我真的不懂呀 我就是一个天真的小菜比
  __test__/socks5/client.spec.ts
  libs/proxy-fetch/src/proxy-fetch.service.ts
  package.json
  src/core/core.service.spec.ts
  src/modules/post/post.service.ts
  src/public/public.controller.ts
  src/public/public.service.spec.ts
  src/public/public.service.ts
Due: prettier --write, eslint --fix

fix: socket hang up
  libs/proxy-fetch/src/proxy-fetch.service.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat: 加入 es 。
  src/core/core.module.ts
  src/core/search/search.service.spec.ts
  src/core/search/search.service.ts
Due: prettier --write, eslint --fix

chore: deps update
  package.json
Due: prettier --write

fix: 删多了
  package.json
  src/main.ts
Due: prettier --write, eslint --fix

feat: create new bucket
  src/modules/bucket/bucket.controller.ts
  src/modules/bucket/bucket.service.ts
Due: prettier --write, eslint --fix

feat: 跨域多支持
  src/main.ts
Due: prettier --write, eslint --fix

fix: :bug: some error
  .env.example
  .gitignore
  __test__/immer.spec.ts
  package.json
  src/modules/bucket/bucket.service.ts
Due: prettier --write, eslint --fix

feat: 访问量 外置到 response interceptor
  src/common/interceptor/path.view.count.interceptor.ts
  src/common/interceptor/response.interceptor.ts
  src/type/ReqExtend.ts
Due: prettier --write, eslint --fix

feat: check common node
  .github/workflows/app.yml
  .gitignore
  Dockerfile
  libs/github-webhook/src/github-event.guard.ts
  libs/instagram-bot/src/instagram-bot.service.ts
  libs/pinterest-rss/src/pinterest-rss.service.ts
  libs/pixiv-bot/src/pixiv-bot.service.ts
  libs/telegram-bot/src/telegram-bot.service.ts
  package-lock.json
  package.json
  src/app.module.ts
  src/common/logger/app.logger.ts
  src/constants/MessagePatterns.ts
  src/constants/REDIS_KEYS.ts
  src/core/cache/cache.service.ts
  src/core/core.service.spec.ts
  src/core/core.service.ts
  src/main.ts
  src/microservice/handleAsset/upload-asset.controller.ts
  src/microservice/handleAsset/upload-asset.module.ts
  src/microservice/handleAsset/upload-asset.service.spec.ts
  src/microservice/handleAsset/upload-asset.service.ts
  src/microservice/hello/hello.controller.ts
  src/public/public.controller.ts
  src/public/public.service.ts
  src/schedules/cos-object-url-schedule/cos-object-url-schedule.service.ts
  src/schedules/instagram-schedule/instagram-schedule.service.ts
  src/schedules/pinterest-schedule/pinterest-schedule.service.ts
  src/schedules/pixiv-schedule/pixiv-schedule.service.ts
  src/schedules/udp-schedule/udp-schedule.service.ts
  src/typings/cache-manager-redis-store.d.ts
  src/typings/process.env.d.ts
  src/utils/uuid.ts
  tsconfig.build.json
  tsconfig.json
Due: prettier --write, eslint --fix

feat: story and todo
  src/configuration/mysql.config.ts
  src/main.ts
  src/modules/asset/asset.service.ts
  src/modules/feed/entities/feed.entity.ts
  src/modules/feed/feed.controller.ts
  src/modules/feed/feed.service.spec.ts
  src/modules/feed/feed.service.ts
  src/modules/todo/entities/period.enum.ts
  src/modules/todo/entities/todo.entity.ts
  src/modules/todo/todo.controller.ts
  src/modules/todo/todo.service.spec.ts
  src/modules/todo/todo.service.ts
Due: prettier --write, eslint --fix

chore: upgrade deps
  package-lock.json
  package.json
Due: prettier --write

fix: build failure
  .env.example
  libs/tencent-cloud-cos/src/cos-nodejs-sdk-v5.d.ts
  libs/tencent-cloud-cos/src/tencent-cloud-cos.service.ts
  libs/tencent-cloud-cos/src/type.ts
  src/entity/bucket.entity.ts
  src/modules/bucket/bucket.service.ts
  tsconfig.build.json
Due: prettier --write, eslint --fix

feat: asset 加入访问量
  src/modules/asset/asset.controller.ts
  src/modules/todo/todo.controller.ts
  src/modules/todo/todo.service.ts
Due: prettier --write, eslint --fix

feat: remove similar images
  src/modules/asset/asset.controller.ts
  src/modules/asset/asset.module.ts
  src/modules/asset/asset.service.ts
Due: prettier --write, eslint --fix

feat: feed & todo 加入访问量
  src/modules/feed/feed.controller.ts
  src/modules/feed/feed.service.ts
  src/modules/todo/entities/todo.entity.ts
  src/modules/todo/todo.controller.ts
  src/modules/todo/todo.service.ts
Due: prettier --write, eslint --fix

perf: remove unnecessary code
  package.json
  src/common/authorization/jwt.strategy.ts
  src/common/filter/catch.filter.ts
  src/common/filter/http.exception.filter.ts
  src/common/interceptor/response.interceptor.ts
  src/main.ts
Due: prettier --write, eslint --fix

perf: some bad habit
  src/common/filter/catch.filter.ts
  src/core/core.service.ts
  src/modules/asset/asset.service.ts
Due: prettier --write, eslint --fix

feat: lead common node
  src/core/core.service.ts
  src/modules/bucket/bucket.service.ts
  src/schedules/cos-object-url-schedule/cos-object-url-schedule.service.ts
Due: prettier --write, eslint --fix

chore: update deps
  .github/workflows/app.yml
  package-lock.json
  package.json
  src/app.module.ts
  src/core/orm.module.ts
  src/main.ts
  src/modules/feed/dto/create-feed.dto.ts
  src/modules/feed/dto/update-feed.dto.ts
  src/modules/feed/entities/feed.entity.ts
  src/modules/feed/feed.controller.spec.ts
  src/modules/feed/feed.controller.ts
  src/modules/feed/feed.module.ts
  src/modules/feed/feed.service.spec.ts
  src/modules/feed/feed.service.ts
  src/modules/todo/dto/create-todo.dto.ts
  src/modules/todo/dto/update-todo.dto.ts
  src/modules/todo/entities/period.enum.ts
  src/modules/todo/entities/todo.entity.ts
  src/modules/todo/todo.controller.spec.ts
  src/modules/todo/todo.controller.ts
  src/modules/todo/todo.module.ts
  src/modules/todo/todo.service.spec.ts
  src/modules/todo/todo.service.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: dispatch google oauth2 login api
  src/modules/user/user.controller.ts
Due: prettier --write, eslint --fix

feat: sha1 重复的图片返回信息
  src/core/core.service.ts
  src/entity/bucket.entity.ts
  src/modules/asset/asset.module.ts
  src/modules/asset/asset.service.ts
  src/modules/feed/feed.controller.ts
  src/modules/feed/feed.service.ts
  src/modules/post/post.controller.ts
  src/modules/post/post.service.spec.ts
  src/modules/post/post.service.ts
  src/modules/user/user.service.ts
  src/public/public.controller.ts
  src/public/public.service.ts
Due: prettier --write, eslint --fix

feat: 未登录数据状态 返回结果集区分
  src/common/decorator/user-from-auth.decorator.ts
  src/entity/post.entity.ts
  src/modules/feed/feed.controller.ts
  src/modules/feed/feed.service.ts
  src/modules/post/post.controller.ts
  src/modules/post/post.service.spec.ts
  src/modules/post/post.service.ts
  src/public/public.controller.ts
  src/public/public.service.ts
Due: prettier --write, eslint --fix

feat: user field bio
  src/entity/user.entity.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,json,js,mjs,mts,cjs,cts}
  eslint --fix: any of: **/*.{ts,tsx,js,mjs,mts,cjs,cts}
  stylelint --fix: any of: **/*.{scss}
