Repository powerfulyang/api.powerfulyang.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,json,js,mjs,mts,cjs,cts}": [
    "prettier --write"
  ],
  "**/*.{ts,tsx,js,mjs,mts,cjs,cts}": [
    "eslint --fix"
  ],
  "**/*.{scss}": [
    "stylelint --fix"
  ]
}

feat: proxy timeout 5000ms
  libs/proxy-fetch/src/proxy-fetch.service.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: 删除代码 观察还会不会重启
  libs/github-webhook/src/github.controller.ts
  libs/github-webhook/src/github.service.ts
  libs/telegram-bot/src/telegram-bot.service.ts
  src/app.module.ts
  src/common/middleware/request.middleware.ts
Due: prettier --write, eslint --fix

fix: FormData 格式问题
  src/modules/feed/feed.controller.ts
Due: prettier --write, eslint --fix

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

feat: elasticsearch service
  src/common/ES/es.module.ts
  src/common/ES/es.service.spec.ts
  src/common/ES/es.service.ts
  src/modules/feed/feed.service.ts
Due: prettier --write, eslint --fix

fix(deps): pin dependencies
  package.json
Due: prettier --write

chore(deps): update dependency @nestjs/schematics to v8.0.9
  package.json
Due: prettier --write

chore(deps): update dependency @types/ramda to v0.28.7
  package.json
Due: prettier --write

chore(deps): update dependency @types/supertest to v2.0.12
  package.json
Due: prettier --write

chore(deps): update nest monorepo
  package.json
Due: prettier --write

fix(deps): update dependency @powerfulyang/utils to v1.3.11
  package.json
Due: prettier --write

fix(deps): update dependency nodemailer to v6.7.3
  package.json
Due: prettier --write

fix(deps): update dependency redis to v4.0.6
  package.json
Due: prettier --write

fix(deps): update dependency sharp to v0.30.3
  package.json
Due: prettier --write

fix(deps): update dependency @nestjs/schedule to v1.1.0
  package.json
Due: prettier --write

fix(deps): update dependency dayjs to v1.11.0
  package.json
Due: prettier --write

fix(deps): update dependency typeorm to v0.3.4
  package.json
Due: prettier --write

chore(deps): update actions/checkout action to v3
  .github/workflows/prod.yml
  .github/workflows/qa.yml
Due: none

chore(deps): update actions/setup-node action to v3
  .github/workflows/prod.yml
  .github/workflows/qa.yml
Due: none

fix(deps): update dependency node-fetch to v3
  package.json
Due: prettier --write

fix: typo
  .github/workflows/qa.yml
Due: none

fix(deps): update dependency chalk to v5
  package.json
Due: prettier --write

feat: renovate
  package-lock.json
  renovate.json
Due: prettier --write

fix: query asset relation bucket
  src/modules/asset/asset.service.ts
  src/modules/asset/entities/asset.entity.ts
Due: prettier --write, eslint --fix

chore(deps): update @nestjs/schematics to 8.0.9
  package-lock.json
  package.json
Due: prettier --write

fix: type declare error
  package.json
  src/modules/asset/asset.service.ts
  src/modules/feed/feed.service.ts
  src/public/public.controller.ts
Due: prettier --write, eslint --fix

chore(deps): update powerfulyang
  package.json
Due: prettier --write

chore(deps): update dependency @types/sharp to v0.30.1
  package.json
Due: prettier --write

chore(deps): update dependency @types/node-telegram-bot-api to v0.56.2
  package.json
Due: prettier --write

fix(deps): update dependency winston to v3.7.2
  package.json
Due: prettier --write

fix: typo; cookie => cookies
  .npmrc
  package-lock.json
  package.json
  src/app.module.ts
  src/main.ts
  src/modules/user/user.controller.ts
  src/modules/user/user.service.ts
  test/app.e2e-spec.ts
Due: prettier --write, eslint --fix

chore(deps): pin dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: typo; cookie => cookies
  src/common/interceptor/cookie.clear.interceptor.ts
  src/common/interceptor/cookie.interceptor.ts
Due: prettier --write, eslint --fix
