Repository powerfulyang/api.powerfulyang.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

fix(deps): update powerfulyang
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency redis to v4.1.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/ramda to v0.28.12
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @elastic/elasticsearch to v8.2.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency amqp-connection-manager to v4.1.3
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency nodemailer to v6.7.5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/node-telegram-bot-api to v0.57.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @nestjs/schematics to v8.0.11
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency redis to v4.1.0
  jest.config.js
  package-lock.json
  package.json
  src/common/cache/cache.service.ts
Due: prettier --write, eslint --fix

feat: webpack HMR 意义不大啊
  nest-cli.json
  package-lock.json
  package.json
  qa.ssh.forward.sh
  src/app.module.ts
  src/common/interceptor/response.interceptor.ts
  src/configuration/pg.config.ts
  src/core/bootstrap/bootstrap.module.ts
  src/core/bootstrap/bootstrap.service.ts
  src/main.ts
  src/modules/bucket/entities/bucket.entity.ts
  src/modules/feed/entities/feed.entity.ts
  src/modules/feed/feed.service.spec.ts
  src/modules/feed/feed.service.ts
  src/modules/path-view-count/entities/path-view-count.entity.ts
  src/modules/path-view-count/path-view-count.module.ts
  src/modules/path-view-count/path-view-count.service.ts
  src/modules/path-view-count/path-view-count.spec.ts
  tsconfig.json
  webpack-hmr.config.js
Due: prettier --write, eslint --fix

feat: ssh Local Port Forwarding 比 VPN 好用多了啦
  nest-cli.json
  qa.ssh.forward.sh
  src/app.module.ts
  src/common/ES/es.service.spec.ts
  src/common/ES/es.service.ts
  src/common/interceptor/response.interceptor.ts
  src/configuration/pg.config.ts
  src/core/bootstrap/bootstrap.module.ts
  src/core/bootstrap/bootstrap.service.ts
  src/modules/asset/asset.service.spec.ts
  src/modules/asset/asset.service.ts
  src/modules/asset/entities/asset.entity.ts
  src/modules/feed/entities/feed.entity.ts
  src/modules/feed/feed.service.spec.ts
  src/modules/feed/feed.service.ts
  src/modules/oauth-openid/entities/oauth-openid.entity.ts
  src/modules/oauth-openid/oauth-openid.service.spec.ts
  src/modules/oauth-openid/oauth-openid.service.ts
  src/modules/path-view-count/entities/path-view-count.entity.ts
  src/modules/path-view-count/path-view-count.module.ts
  src/modules/path-view-count/path-view-count.service.ts
  src/modules/path-view-count/path-view-count.spec.ts
  src/modules/post/entities/post.entity.ts
  src/modules/post/post.controller.ts
  src/modules/post/post.service.spec.ts
  src/modules/user/entities/family.entity.ts
  src/modules/user/entities/user.entity.ts
  src/modules/user/user.service.ts
  tsconfig.json
Due: prettier --write, eslint --fix

fix(deps): update dependency dayjs to v1.11.2
  package-lock.json
  package.json
Due: prettier --write

feat: 精简字段，还有支持页数
  src/modules/asset/asset.service.ts
  src/modules/asset/entities/asset.entity.ts
  src/modules/feed/entities/feed.entity.ts
  src/modules/feed/feed.service.ts
  src/modules/post/entities/post.entity.ts
  src/public/public.controller.ts
  src/type/InfiniteQueryParams.ts
  src/utils/env.ts
Due: prettier --write, eslint --fix

fix(deps): update dependency cos-nodejs-sdk-v5 to v2.11.8
  package-lock.json
  package.json
Due: prettier --write

fix(jest, cosUtil): typeorm => autoLoadEntities 在 jest@28 的背景下，不好用
  libs/tencent-cloud-cos/src/tencent-cloud-cos.service.spec.ts
  libs/tencent-cloud-cos/src/tencent-cloud-cos.service.ts
  src/configuration/pg.config.ts
  src/core/bootstrap/bootstrap.service.ts
  src/modules/asset/asset.service.ts
  src/modules/bucket/bucket.service.ts
  src/modules/tencent-cloud-account/tencent-cloud-account.service.spec.ts
  src/utils/env.ts
Due: prettier --write, eslint --fix

refactor: 服务器上的目录改掉啦
  .github/workflows/qa.yml
  src/modules/asset/entities/asset.entity.ts
Due: prettier --write, eslint --fix

fix: public/asset has ignored the parameter take
  .github/workflows/prod.yml
  .github/workflows/qa.yml
  Dockerfile
  src/modules/asset/asset.service.ts
  src/modules/feed/feed.service.ts
Due: prettier --write, eslint --fix

fix(deps): update dependency amqplib to v0.9.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency dotenv to v16.0.1
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency cos-nodejs-sdk-v5 to v2.11.9
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency immer to v9.0.13
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency immer to v9.0.14
  package-lock.json
  package.json
Due: prettier --write

fix: cached user's timeline background is invalid
  src/common/logger/logger.service.ts
  src/schedules/cos-object-url-schedule/cos-object-url-schedule.service.ts
  src/schedules/schedules.module.ts
Due: prettier --write, eslint --fix

feat: 修改了端口
  qa.ssh.forward.sh
Due: none

fix(deps): update nest monorepo to v8.4.5
  package-lock.json
  package.json
Due: prettier --write

feat: 精简字段
  src/modules/asset/asset.service.ts
Due: prettier --write, eslint --fix

chore(deps): update dependency @types/node-telegram-bot-api to v0.57.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @nestjs/cli to v8.2.6
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,json,js,mjs,mts,cjs,cts}
  eslint --fix: any of: **/*.{ts,tsx,js,mjs,mts,cjs,cts}
  stylelint --fix: any of: **/*.{scss}
