Repository powerfulyang/api.powerfulyang.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore: upgrade dependencies
  .github/workflows/prod.yml
  .github/workflows/qa.yml
  package-lock.json
  package.json
  src/configuration/elasticsearch.config.ts
  src/core/search/search.service.ts
Due: prettier --write, eslint --fix

chore: code clean up
  .gitattributes
  .husky/pre-commit
  __test__/TinyEXIF.spec.ts
  __test__/immer.spec.ts
  __test__/utils.spec.ts
  libs/github-webhook/src/github-event.guard.ts
  libs/github-webhook/src/github.decorator.ts
  package-lock.json
  package.json
  src/common/authorization/util.ts
  src/common/decorator/extend-from-req.decorator.ts
  src/common/decorator/multimedia-upload.decorator.ts
  src/common/decorator/user-from-auth.decorator.ts
  src/common/interceptor/images.file.upload.interceptor.ts
  src/configuration/rabbitmq.config.ts
  src/configuration/redis.config.ts
  src/modules/asset/asset.service.spec.ts
  src/modules/bucket/bucket.service.ts
  src/modules/feed/feed.service.spec.ts
  src/modules/user/user.module.ts
  src/public/public.controller.ts
  src/public/public.service.spec.ts
  src/utils/getClassStaticProperties.ts
Due: prettier --write, eslint --fix

fix: assetService#manualUpload
  .ncurc.json
  package-lock.json
  package.json
  src/modules/asset/asset.service.ts
Due: prettier --write, eslint --fix

refactor: expose post content
  .github/workflows/prod.yml
  .github/workflows/qa.yml
  src/modules/post/post.service.ts
Due: prettier --write, eslint --fix

fit: for frontend useInfiniteQuery
  src/modules/asset/asset.service.ts
  src/modules/user/user.service.spec.ts
  src/public/public.controller.ts
  src/type/InfiniteQuery.ts
Due: prettier --write, eslint --fix

feat: new version linter
  .editorconfig
  .eslintrc.js
  .prettierrc.js
  .stylelintrc.js
  package-lock.json
  package.json
  src/modules/feed/dto/create-feed.dto.ts
  src/modules/post/dto/publish-post.dto.ts
  src/modules/user/dto/PostDto.ts
  src/modules/user/dto/UserDto.ts
Due: prettier --write, eslint --fix

fix: 一些设计优化
  libs/tencent-cloud-cos/src/tencent-cloud-cos.service.ts
  src/modules/asset/asset.controller.ts
  src/modules/asset/asset.service.ts
  src/modules/feed/feed.controller.ts
  src/modules/feed/feed.service.ts
  src/modules/post/post.controller.ts
  src/modules/post/post.service.spec.ts
  src/modules/post/post.service.ts
  src/modules/tencent-cloud-account/tencent-cloud-account.service.ts
  src/public/public.controller.ts
  src/public/public.service.ts
Due: prettier --write, eslint --fix

fix: remove validate
  src/main.ts
Due: prettier --write, eslint --fix

refactor: redis@4
  __test__/jieba.spec.ts
  __test__/user.dict.utf8
  __test__/utils.spec.ts
  package-lock.json
  package.json
  src/common/middleware/request.middleware.ts
  src/configuration/redis.config.ts
  src/core/cache/cache.module.ts
  src/core/cache/cache.service.spec.ts
  src/core/cache/cache.service.ts
  src/core/config/config.module.ts
  src/core/core.module.ts
  src/main.ts
  src/modules/path-ip-view-count/path-view-count.service.ts
  src/modules/user/user.service.ts
  src/typings/cache-manager-redis-store.d.ts
  src/utils/ipdb.ts
Due: prettier --write, eslint --fix

feat: 新增支持了 github 登录哦
  .env.example
  package-lock.json
  package.json
  src/common/authorization/github.strategy.ts
  src/common/authorization/public.auth.strategy.ts
  src/common/authorization/strategy.module.ts
  src/common/decorator/auth-guard.decorator.ts
  src/configuration/mail.config.ts
  src/core/core.module.ts
  src/core/mail/mail.module.ts
  src/core/mail/mail.service.spec.ts
  src/core/mail/mail.service.ts
  src/modules/oauth-application/entities/oauth-application.entity.ts
  src/modules/oauth-application/oauth-application.service.ts
  src/modules/oauth-openid/oauth-openid.service.spec.ts
  src/modules/oauth-openid/oauth-openid.service.ts
  src/modules/user/entities/user.entity.ts
  src/modules/user/user.controller.ts
  src/modules/user/user.service.spec.ts
  src/modules/user/user.service.ts
Due: prettier --write, eslint --fix

fix: type error
  libs/telegram-bot/src/telegram-bot.service.ts
Due: prettier --write, eslint --fix

fix: coreService 删错行了
  src/common/logger/app.logger.ts
  src/core/core.service.spec.ts
  src/core/core.service.ts
  src/modules/asset/asset.service.ts
  src/modules/user/user.service.spec.ts
  src/modules/user/user.service.ts
  src/schedules/instagram-schedule/instagram-schedule.service.ts
  src/schedules/pinterest-schedule/pinterest-schedule.service.ts
  src/schedules/pixiv-schedule/pixiv-schedule.service.ts
Due: prettier --write, eslint --fix

fix: manual upload asset
  src/common/logger/app.logger.ts
  src/modules/asset/asset.service.ts
Due: prettier --write, eslint --fix

feat: validator
  package-lock.json
  package.json
  src/main.ts
  src/modules/feed/dto/create-feed.dto.ts
  src/modules/feed/dto/update-feed.dto.ts
  src/modules/post/dto/publish-post.dto.ts
Due: prettier --write, eslint --fix

fix: vips-dev error
  Dockerfile
  package-lock.json
  package.json
Due: prettier --write

fix: fileSuffix 没有点
  src/modules/asset/asset.service.ts
Due: prettier --write, eslint --fix

feat: oauth config from mysql data
  libs/proxy-fetch/src/proxy-fetch.service.ts
  src/common/authorization/google.strategy.ts
  src/common/authorization/strategy.module.ts
  src/constants/PROVIDER_TOKEN.ts
  src/core/core.module.ts
  src/modules/oauth-application/entities/oauth-application.entity.ts
  src/modules/oauth-application/oauth-application.service.ts
Due: prettier --write, eslint --fix

feat: HTTP STATUS, 封面经过筛选
  src/common/interceptor/response.interceptor.ts
  src/modules/asset/asset.service.spec.ts
  src/modules/asset/asset.service.ts
  src/modules/bucket/bucket.service.ts
  src/modules/post/post.service.ts
Due: prettier --write, eslint --fix

chore(deps): pin dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: FormData 格式问题
  src/modules/feed/feed.controller.ts
Due: prettier --write, eslint --fix

fix: order post publishYear
  package-lock.json
  package.json
  src/modules/asset/asset.service.ts
  src/modules/bucket/bucket.service.ts
  src/modules/bucket/entities/bucket.entity.ts
  src/modules/post/post.service.ts
  src/modules/user/user.service.ts
Due: prettier --write, eslint --fix

chore(deps): update nest monorepo
  package-lock.json
  package.json
Due: prettier --write

fix: typo; cookie => cookies
  .npmrc
  package-lock.json
  package.json
  src/app.module.ts
  src/main.ts
  src/modules/user/user.controller.ts
  src/modules/user/user.service.ts
  test/app.e2e-spec.ts
Due: prettier --write, eslint --fix

feat: elasticsearch service
  src/common/ES/es.module.ts
  src/common/ES/es.service.spec.ts
  src/common/ES/es.service.ts
  src/modules/feed/feed.service.ts
Due: prettier --write, eslint --fix

feat: proxy timeout 5000ms
  libs/proxy-fetch/src/proxy-fetch.service.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: typo; cookie => cookies
  package-lock.json
  package.json
  src/common/interceptor/cookie.clear.interceptor.ts
  src/common/interceptor/cookie.interceptor.ts
Due: prettier --write, eslint --fix

chore(deps): update actions/setup-node action to v3
  .github/workflows/prod.yml
  .github/workflows/qa.yml
Due: none

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

fix(deps): pin dependencies
  package.json
Due: prettier --write

feat: renovate
  package-lock.json
  renovate.json
Due: prettier --write

chore(deps): update @nestjs/schematics to 8.0.9
  package-lock.json
  package.json
  src/modules/asset/asset.service.ts
  src/modules/feed/feed.service.ts
  src/public/public.controller.ts
Due: prettier --write, eslint --fix

fix: typo
  .github/workflows/qa.yml
Due: none

feat: postNewFeed with assets files
  .lintstagedrc
  package-lock.json
  package.json
  src/common/interceptor/images.file.upload.interceptor.ts
  src/modules/bucket/entities/bucket.entity.ts
  src/modules/feed/feed.controller.ts
  src/modules/feed/feed.module.ts
  src/modules/feed/feed.service.ts
Due: prettier --write, eslint --fix

chore(deps): update actions/checkout action to v3
  .github/workflows/prod.yml
  .github/workflows/qa.yml
Due: none

fix: 删除代码 观察还会不会重启
  libs/github-webhook/src/github.controller.ts
  libs/github-webhook/src/github.service.ts
  libs/telegram-bot/src/telegram-bot.service.ts
  src/app.module.ts
  src/common/middleware/request.middleware.ts
Due: prettier --write, eslint --fix

fix: query asset relation bucket
  src/modules/asset/asset.service.ts
  src/modules/asset/entities/asset.entity.ts
Due: prettier --write, eslint --fix

feat: pnpm
  Dockerfile
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,json,js,mjs,mts,cjs,cts}
  eslint --fix: any of: **/*.{ts,tsx,js,mjs,mts,cjs,cts}
  stylelint --fix: any of: **/*.{scss}
