Repository powerfulyang/api.powerfulyang.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,json,js,mjs,mts,cjs,cts}": [
    "prettier --write"
  ],
  "**/*.{ts,tsx,js,mjs,mts,cjs,cts}": [
    "eslint --fix"
  ],
  "**/*.{scss}": [
    "stylelint --fix"
  ]
}

feat: permission guard
  src/common/authorization/permission-guard.ts
  src/common/decorator/auth-guard.decorator.ts
  src/common/decorator/permissions.decorator.ts
  src/modules/feed/feed-manage.controller.ts
  src/modules/feed/feed.service.ts
  src/modules/user/dto/create-role.dto.ts
  src/modules/user/entities/role.entity.ts
  src/modules/user/menu/menu.service.ts
  src/modules/user/role/role.controller.ts
  src/modules/user/role/role.service.ts
Due: prettier --write, eslint --fix

fix: rename createAt to createdAt
  package.json
  pnpm-lock.yaml
  src/modules/asset/asset.service.ts
  src/modules/asset/dto/query-assets.dto.ts
  src/modules/asset/entities/asset.entity.ts
  src/modules/bucket/bucket.service.ts
  src/modules/bucket/entities/bucket.entity.ts
  src/modules/feed/entities/feed.entity.ts
  src/modules/feed/feed.service.ts
  src/modules/oauth-application/entities/oauth-application.entity.ts
  src/modules/oauth-openid/entities/oauth-openid.entity.ts
  src/modules/path-view-count/dto/view-count.dto.ts
  src/modules/path-view-count/entities/path-view-count.entity.ts
  src/modules/path-view-count/path-view-count.service.ts
  src/modules/post/dto/query-posts.dto.ts
  src/modules/post/entities/post.entity.ts
  src/modules/post/entities/post.log.entity.ts
  src/modules/post/post.service.ts
  src/modules/user/dto/query-menus.dto.ts
  src/modules/user/dto/query-roles.dto.ts
  src/modules/user/dto/query-users.dto.ts
  src/modules/user/entities/family.entity.ts
  src/modules/user/entities/menu.entity.ts
  src/modules/user/entities/role.entity.ts
  src/modules/user/entities/user.entity.ts
  src/modules/user/menu/menu.service.ts
  src/modules/user/role/role.service.ts
  src/modules/user/user.service.ts
Due: prettier --write, eslint --fix

feat: swagger for frontend
  src/modules/asset/entities/asset.entity.ts
  src/modules/user/user.controller.ts
Due: prettier --write, eslint --fix

feat: swagger for frontend
  package.json
  pnpm-lock.yaml
  src/modules/asset/asset.controller.ts
  src/modules/asset/entities/asset.entity.ts
  src/modules/feed/feed.service.ts
  src/modules/post/dto/create-post.dto.ts
  src/modules/post/dto/patch-post.dto.ts
  src/modules/post/post.controller.ts
  src/modules/public/public.controller.ts
  src/modules/user/user.controller.ts
  src/payload/BingAIPayload.ts
  src/payload/ChatGPTPayload.ts
Due: prettier --write, eslint --fix

feat: swagger for frontend
  package.json
  pnpm-lock.yaml
  src/common/swagger/ApiOkInfiniteQueryResponse.ts
  src/common/swagger/ResponseInterceptorResult.ts
  src/modules/asset/asset.controller.ts
  src/modules/asset/entities/asset.entity.ts
  src/modules/feed/feed.service.ts
  src/modules/post/dto/create-post.dto.ts
  src/modules/post/dto/patch-post.dto.ts
  src/modules/post/post.controller.ts
  src/modules/public/public.controller.ts
  src/modules/user/user.controller.ts
  src/payload/BingAIPayload.ts
  src/payload/ChatGPTPayload.ts
Due: prettier --write, eslint --fix

feat: swagger for frontend
  package.json
  pnpm-lock.yaml
  src/common/request/InfiniteQueryRequest.ts
  src/common/swagger/ApiOkInfiniteQueryResponse.ts
  src/common/swagger/ResponseInterceptorResult.ts
  src/modules/asset/asset.controller.ts
  src/modules/asset/entities/asset.entity.ts
  src/modules/feed/feed.controller.ts
  src/modules/feed/feed.service.ts
  src/modules/post/dto/create-post.dto.ts
  src/modules/post/dto/patch-post.dto.ts
  src/modules/post/post.controller.ts
  src/modules/public/public.controller.ts
  src/modules/user/user.controller.ts
  src/payload/BingAIPayload.ts
  src/payload/ChatGPTPayload.ts
Due: prettier --write, eslint --fix

feat: swagger for frontend
  libs/chat-gpt/src/chat-gpt.service.ts
  libs/wechat/src/mini-program.service.ts
  package.json
  pnpm-lock.yaml
  src/common/filter/catch.filter.ts
  src/common/filter/error.filter.ts
  src/common/filter/http.exception.filter.ts
  src/common/request/InfiniteQueryRequest.ts
  src/common/swagger/ApiOkInfiniteQueryResponse.ts
  src/common/swagger/ResponseInterceptorResult.ts
  src/modules/asset/asset.controller.ts
  src/modules/asset/entities/asset.entity.ts
  src/modules/feed/feed.controller.ts
  src/modules/feed/feed.service.ts
  src/modules/post/dto/create-post.dto.ts
  src/modules/post/dto/patch-post.dto.ts
  src/modules/post/entities/post.log.entity.ts
  src/modules/post/post.controller.ts
  src/modules/public/public.controller.ts
  src/modules/user/user.controller.ts
  src/modules/user/user.service.ts
  src/payload/BingAIPayload.ts
  src/payload/ChatGPTPayload.ts
Due: prettier --write, eslint --fix

feat: swagger for frontend
  libs/chat-gpt/src/chat-gpt.service.ts
  libs/wechat/src/mini-program.service.ts
  package.json
  pnpm-lock.yaml
  src/common/filter/catch.filter.ts
  src/common/filter/error.filter.ts
  src/common/filter/http.exception.filter.ts
  src/common/request/InfiniteQueryRequest.ts
  src/common/swagger/ApiOkInfiniteQueryResponse.ts
  src/common/swagger/ResponseInterceptorResult.ts
  src/modules/asset/asset.controller.ts
  src/modules/asset/entities/asset.entity.ts
  src/modules/bucket/bucket.controller.ts
  src/modules/bucket/bucket.service.ts
  src/modules/bucket/dto/create-bucket.dto.ts
  src/modules/feed/feed.controller.ts
  src/modules/feed/feed.service.ts
  src/modules/path-view-count/dto/view-count.dto.ts
  src/modules/post/dto/create-post.dto.ts
  src/modules/post/dto/patch-post.dto.ts
  src/modules/post/entities/post-log.entity.ts
  src/modules/post/entities/post.entity.ts
  src/modules/post/post.controller.ts
  src/modules/post/post.module.ts
  src/modules/post/post.service.ts
  src/modules/public/public.controller.ts
  src/modules/user/user.controller.ts
  src/modules/user/user.service.ts
  src/payload/BingAIPayload.ts
  src/payload/ChatGPTPayload.ts
Due: prettier --write, eslint --fix

fix: delete openai reverse proxy
  libs/chat-gpt/src/chat-gpt.service.ts
  src/constants/REDIS_KEYS.ts
Due: prettier --write, eslint --fix

feat: word book
  libs/word-book/src/entities/word-book.entity.ts
  libs/word-book/src/index.ts
  libs/word-book/src/word-book.d.ts
  libs/word-book/src/word-book.module.ts
  libs/word-book/src/word-book.service.spec.ts
  libs/word-book/src/word-book.service.ts
  libs/word-book/tsconfig.lib.json
  nest-cli.json
  package.json
  pnpm-lock.yaml
  src/common/logger/logger.service.ts
  src/constants/PROVIDER_TOKEN.ts
  src/modules/tencent-cloud-account/tencent-cloud-account.service.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: typescript@5
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update
  renovate.json
Due: prettier --write

feat: pagination in request body
  src/common/decorator/pagination/pagination.decorator.ts
  src/modules/asset/asset.controller.ts
  src/modules/feed/feed-manage.controller.ts
  src/modules/post/dto/query-posts.dto.ts
  src/modules/post/post-manage.controller.ts
  src/modules/user/menu/menu.controller.ts
  src/modules/user/role/role.controller.ts
  src/modules/user/user-manage.controller.ts
Due: prettier --write, eslint --fix

fix: 避免长时间的同步任务导致系统阻塞
  src/modules/asset/asset.service.ts
Due: prettier --write, eslint --fix

chore: update
  .jest/jest.setup.ts
  package.json
Due: prettier --write, eslint --fix

chore: update
  .gitignore
  package.json
Due: prettier --write

chore: update
  .gitignore
  .jest/jest.setup.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: pnpm .npmrc expose dependency
  .github/workflows/test.yml
  .npmrc
  jest.config.js
  libs/chat-gpt/src/chat-gpt.service.spec.ts
  libs/github/src/github.service.spec.ts
  libs/instagram-bot/src/instagram-bot.service.spec.ts
  libs/logs-viewer/src/logs-viewer.service.spec.ts
  libs/pinterest-bot/src/pinterest-bot.service.spec.ts
  libs/pixiv-bot/src/pixiv-bot.service.spec.ts
  libs/proxy-fetch/src/proxy-fetch.service.spec.ts
  libs/telegram-bot/src/telegram-bot.service.spec.ts
  libs/tencent-cloud-cos/src/tencent-cloud-cos.service.spec.ts
  libs/udp-server/src/udp-server.service.spec.ts
  libs/weather/src/weather.service.spec.ts
  libs/word-book/src/word-book.service.e2e.spec.ts
  package.json
  pnpm-lock.yaml
  src/common/service/mail/mail.service.spec.ts
  src/common/service/mq/mq.service.spec.ts
  src/core/core.service.spec.ts
  src/utils/utils.spec.ts
Due: prettier --write, eslint --fix

feat: js 是真的慢
  package.json
  pnpm-lock.yaml
  src/modules/asset/asset.service.ts
  src/modules/asset/entities/asset.entity.ts
  src/modules/feed/dto/create-feed.dto.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore(pnpm): update .npmrc
  .npmrc
Due: none

feat: server for GraphQL
  src/modules/post/resolver/post.resolver.ts
Due: prettier --write, eslint --fix

chore: update
  package.json
Due: prettier --write

chore(deps): bump
  base.Dockerfile
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): bump
  .github/workflows/base-image.yml
  Dockerfile
  base.Dockerfile
  docker-compose.yml
  libs/proxy-fetch/src/proxy-fetch.service.ts
  libs/proxy-fetch/src/proxy.d.ts
  libs/telegram-bot/src/telegram-bot.service.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: yt-dlp
  base.Dockerfile
  libs/chat-gpt/src/chat-gpt.service.ts
  libs/instagram-bot/src/instagram-bot.service.ts
  libs/proxy-fetch/src/proxy-fetch.service.e2e.spec.ts
  libs/proxy-fetch/src/proxy-fetch.service.ts
  libs/telegram-bot/src/telegram-bot.service.ts
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/common/authorization/github.strategy.ts
  src/common/authorization/google.strategy.ts
  src/common/config/config.service.spec.ts
  src/tools/tools.controller.ts
  src/tools/tools.module.ts
  src/tools/tools.service.ts
Due: prettier --write, eslint --fix

build: docker multi-stage builds
  .github/workflows/base-image.yml
  .github/workflows/ci.yml
  .github/workflows/prod.yml
  .github/workflows/qa.yml
  .github/workflows/test.yml
  Dockerfile
  base.Dockerfile
  package.json
  pnpm-lock.yaml
  ssh.forward.sh
Due: prettier --write

chore(deps): bump version [skip ci]
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: prisma
  libs/chat-gpt/src/chat-gpt.service.ts
  libs/github/src/github.service.ts
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  src/common/authorization/github.strategy.ts
  src/common/authorization/google.strategy.ts
  src/common/authorization/public.strategy.ts
  src/common/decorator/user-from-auth.decorator.ts
  src/common/interceptor/cookie.interceptor.ts
  src/common/service/prisma/prisma.module.ts
  src/common/service/prisma/prisma.service.e2e.spec.ts
  src/common/service/prisma/prisma.service.ts
  src/modules/asset/asset.service.ts
  src/modules/path-view-count/path-view-count.service.ts
  src/modules/post/post.service.ts
  src/modules/user/menu/menu.service.ts
  src/modules/user/user.service.ts
  src/typings/custom-prisma-json.d.ts
  src/typings/delare-module.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix

build: use sse for video download
  libs/proxy-fetch/src/proxy-fetch.service.ts
  package.json
  pnpm-lock.yaml
  src/common/decorator/exclude-response-interceptor.decorator.ts
  src/common/interceptor/response.interceptor.ts
  src/tools/tools.controller.ts
  src/tools/tools.service.ts
Due: prettier --write, eslint --fix

build: use sse for video download
  libs/proxy-fetch/src/proxy-fetch.service.e2e.spec.ts
  libs/proxy-fetch/src/proxy-fetch.service.ts
  package.json
  pnpm-lock.yaml
  src/common/decorator/exclude-response-interceptor.decorator.ts
  src/common/interceptor/response.interceptor.ts
  src/tools/tools.controller.ts
  src/tools/tools.service.ts
Due: prettier --write, eslint --fix

chore(deps): bump version
  .ncurc.json
  libs/github/src/__generated__/github-graphql.ts
  package.json
  pnpm-lock.yaml
  src/typings/delare-module.d.ts
Due: prettier --write, eslint --fix

revert: remove bing ai
  libs/chat-gpt/src/chat-gpt.d.ts
  libs/chat-gpt/src/chat-gpt.service.e2e.spec.ts
  libs/chat-gpt/src/chat-gpt.service.ts
  src/constants/REDIS_KEYS.ts
  src/modules/public/public.controller.ts
  src/payload/BingAIPayload.ts
Due: prettier --write, eslint --fix

feat: fcm + web-push
  .gitignore
  __test__/.gitkeep
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/fcm/fcm.controller.ts
  src/fcm/fcm.module.ts
  src/fcm/fcm.service.e2e.spec.ts
  src/fcm/fcm.service.ts
  src/typings/env.d.ts
  src/web-push/web-push.controller.ts
  src/web-push/web-push.module.ts
  src/web-push/web-push.service.e2e.spec.ts
  src/web-push/web-push.service.ts
Due: prettier --write, eslint --fix
